<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elearning"
        tools:targetApi="31">
        <activity
            android:name=".Course_Video_List_Activity"
            android:exported="false" />
        <activity
            android:name=".CourseActivity"
            android:exported="false" />
        <activity
            android:name=".shortUpload"
            android:exported="false" />
        <activity
            android:name=".shortVideo"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizHomeActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ChatGPTSupport"
            android:exported="false" />
        <activity
            android:name=".VideoView"
            android:exported="false" />
        <activity
            android:name=".YoutubePlayer"
            android:exported="false" />
        <activity
            android:name=".Youtube_player_activity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4147400122496681~4628637380" />

        <activity
            android:name=".NotesListByCateActivity"
            android:exported="false" />
        <activity
            android:name=".NotesSetActivity"
            android:exported="false" />

        <activity
            android:name=".PDFListActivity"
            android:exported="false" />
        <activity
            android:name=".EditVideoActivity"
            android:exported="false" />
        <activity
            android:name=".FullScreenPlayerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".VideoListActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".LiveClassesActivity"
            android:exported="false" />
        <activity
            android:name=".UploadNotesActivity"
            android:exported="false" />
        <activity
            android:name=".UploadVideoActivity"
            android:exported="false"
            android:label="@string/title_activity_free_videos"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Elearning.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".SendOTPActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="razorpay.api.key"
            android:value="rzp_test_GYytSvAZkcc8c2" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:exported="true"
            android:theme="@style/CheckoutTheme"
            tools:replace="android:configChanges">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FCMMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>